@use "../../styles/variables";
@use "../../styles/mixins";

$margin-top1: 1rem;
$margin-top2: 0.3rem;

.container {
  text-align: center;
  box-shadow: 0px 0px 7px rgb(0 0 0 / 30%);
  border-radius: 20px;
  padding: 2rem 1.8rem;
  background-color: rgba($color: #0a121d, $alpha: 0.5);
  color: variables.$font-color2;

  .local {
    font-size: 1.9rem;
    font-weight: bold;
    color: variables.$font-color1;
  }

  .hour {
    margin-top: $margin-top1;
    font-size: 1.5rem;
  }

  .date {
    margin-top: $margin-top2;
    font-size: 1.4rem;
    color: variables.$font-color2;
  }

  .containerTemp {
    @include mixins.flex-center;
    flex-wrap: wrap;
    column-gap: 1rem;
    margin-top: 1rem;
    > img {
      max-width: 150px;
    }
    .temperature {
      font-size: 4rem;
      color: variables.$font-color1;
      .celsius {
        margin-left: 0.1rem;
        font-size: 2.5rem;
      }
    }
  }

  .description {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: variables.$font-color1;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .humidity {
    margin-top: $margin-top1;
  }

  .windSpeed {
    margin-top: $margin-top2;
  }

  .humidity,
  .windSpeed {
    font-size: 1.1rem;
  }
}
