@use "./styles/variables";
@use "./styles/mixins";

.container {
  @include mixins.flex-center;
  flex-direction: column;
  padding: 0 1rem;
  width: 100vw;
  max-width: 500px;

  h1 {
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    color: variables.$font-color1;
    @media (max-width: 425px) {
      margin-top: 3.5rem;
    }
  }

  .containerSearch {
    @include mixins.flex-center;
    min-height: 400px;
  }

  .error {
    font-size: 1.2rem;
    font-weight: bold;
    color: variables.$font-color2;
  }
}
