@use "./styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
  width: 100vw;
  max-width: 650px;
}

h1 {
  margin: 5rem 0 3rem 0;
  font-size: 3rem;
  color: variables.$font-color1;
}
